.flex{
    display: flex;
   flex-flow: row wrap;
    width: 1200px;
      
  }
  .flex> div {
    display: flex;
    background-color: #ffffff;
    margin-top: 10px;
    margin-left: 5px;
      flex-flow: row wrap;
      flex-shrink: 1;
    justify-content: center;
    align-items: center;
  }