*{
  line-height: calc(1em +0.5rem);
  font-size: 1rem;
}
html{
  scroll-behavior: smooth;
}
.btn{
  background-color: #06b6d4;
  border: none;
  height: 2rem;
  width: 6rem;
  margin: 1rem;
}
form,.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin: 1.5rem;
  border: none;
}
label{
  margin-top: 1.5rem;
}

