<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
<style>
*{
  line-height: calc(1em +0.5rem);
  font-size: 1rem;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  position: relative;
}
html{
  scroll-behavior: smooth;
  width: fit-content;
  height: fit-content;
}
.btn{
  background-color:  #155e75; 
  border: 0.1px solid #155e75;
  border-radius: 1rem;
  height: 2rem;
  width: 7rem;
  margin: 1rem;
  padding: 0.4rem;
  left: 6.6rem;
}
form{
  margin: 1.5rem;
  left: 26.5rem;
}
body{
  background-color: hsl(217, 33%, 17%);
  color: #f1f1f1;
}
.index{
  background-color:transparent;
  border: none;
  margin: none;
  position: relative;
  left: 1rem;
  height: 1.6rem;
  width: 17.7rebom;
}
.index:focus{
  border: none;
  margin: none;
  padding: none;
}
label{
  margin:none;
  top: 2.6rem;
  left: 2.2rem;
}
    .btn:hover{
      background-color: #167294;
      cursor: pointer;
    }
    td{
      margin: none;
      rder: 2.5px solid black;
      border-radius: 0.3rem;
      padding: 0.5rem;
      top: 1rem;
      left: 23rem;
      flex-wrap: wrap;
    }
    .div{
      margin: 0.3rem;
      margin-left: 6.1rem;
      border: 2px solid black;
      border-radius: 0.3rem;
      width: 10rem;
      height: 1.5rem;
      padding: 0.3rem;
      text-align: center;
      padding-top: 0.4rem;
      top: 1rem;
      left: 27.5rem;
    }
    img{
      height: 6rem;
      width: 6rem;
      bottom: -1rem;
      right: -36rem;
    }
a{
  color: #f1f1f1;
}
.input{
  background-color: transparent;
  border: 2px solid #155e75;
  border-radius: 1rem;
  height: 1.8rem;
  width: 20rem;
  margin: 1rem;
}
</style
</head>
<body>
  <div>
    <form action="/submit" method="post">
      <label for="username">Username:</label>
      <div class="input">
        <input class="index" type="text" id="username" name="user_name" required>
      </div>
      <label for="first-name">First Name:</label>
      <div class="input">
        <input class="index" type="text" id="first-name" name="name_first" required>
      </div>
      <label for="last-name">Last Name:</label>
      <div class="input">
        <input class="index" type="text" id="last-name" name="name_last" required>
      </div>
      <label for="password">Password:</label>
      <div class="input" >
        <input class="index" type="password" name="pass_word" id="password"  required>
      </div>
      <input class="btn" type="submit" value="Submit">
    </form>
  </div>
</body>
</html>